:root {
  --main-bg-color: #F6B787;
  --second-color: #D27F3F;
  --third-color: #FFE3CE;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav-container {
  max-height: 88px;
  display: flex;
  width: 100%;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  background: var(--main-bg-color);
  font-size: 24px;
  font-weight: bold;
}

.logo-container {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.logo {
  height: 88px;
  padding: 10px;
}

.link-container {
  flex: 2;
  display: flex;
  justify-content: center;
}

.nav-link {
  color: black;
  margin: 0 1rem;
  text-decoration: none;
}

.nav-link.active {
  text-decoration: underline;
  text-decoration-color: var(--second-color);
}

.search-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.stylish-line {
  text-align: center;
}

.search-box {
  display: flex;
  margin-left: 2rem;
  border-radius: 18px;
  background: white;
  width: 256px;
  height: 52px;
}


.search-box input[type=text] {
  padding: 10px 16px 10px 16px;
  border: none;
  border-radius: 18px;
  width: 100%;
}

.search-box button {
  background: white;
  border: none;
  border-radius: 18px;
  cursor: pointer;
  padding-left: 1rem;
}

form button {
  display: flex;
  align-items: center;
}

.toggle-search {
  display: none;
}

.toggle-nav {
  display: none;
}

.mobile-search-container {
  display: none;
  width: 100%;
  background: var(--main-bg-color);
  justify-content: center;
  padding: 1rem;
}

.mobile-link-container {
  display: none;
  width: 100%;
  height: (100vh - 88px);
  background: white;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  padding: 2rem;
}

.mobile-link-container .nav-link {
  padding: 2rem 0;
  width: 100%;
  border-bottom: 2px solid var(--third-color);
}

@media screen and (max-width: 1150px){
  .toggle-search {
    display: inline-block;
    border: none;
    background: inherit;
    height: 42px;
    width: 42px;
    margin: 1rem;
  }

  .toggle-nav {
    display: inline-block;
    border: none;
    background: inherit;
    height: 42px;
    width: 42px;
  }

  .toggle-nav:hover {
    opacity: 0.5;
  }

  .link-container {
    display: none;
  }
  
  .search-container{
    display: none;
  }

  .logo {
    max-width: 150px;
  }
}